@use "../Format/color.scss" as *;

.Header {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;

  .InnerHeader {
    grid-column: 2/3;
    text-align: center;

    .Heading {
      color: $white;
    }

    .Nav {
      display: flex;
      flex-flow: column;
      .NavLink {
        color: $white;
        text-decoration: none;
        padding: 0.5rem;

        &:hover,
        &:active {
          animation: tarnation 3s forwards;
          background-color: map-get($odiePallet, "color2");
        }
      }

      .NavLink:not(:last-of-type) {
        margin-bottom: 0.5rem;
      }
    }
  }
}

@keyframes tarnation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  75% {
    transform: scale(3);
  }
  100% {
    transform: scale(12);
  }
}
