@import-normalize;
@import "./Format/format.scss";
@import "./Structure/structure.scss";

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}